schemas/schema.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <start>
        <element name="person">
            <element name="name">
                <text />
            </element>
            <element name="age">
                <data type="int" />
            </element>
            <element name="email">
                <text />
            </element>
        </element>
    </start>
</grammar>
