httpserver/soap/userInfo.wsdl

<?xml version="1.0"?>
<definitions
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://example.com/soap"
    targetNamespace="http://example.com/soap"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/soap">
            <import namespace="http://example.com/schema" schemaLocation="../../schemas/schema.xsd" />
            <element name="GetData">
                <complexType>
                    <sequence>
                        <element name="input" type="xsd:string" />
                    </sequence>
                </complexType>
            </element>
            <element name="GetDataResponse">
                <complexType>
                    <sequence>
                        <element name="UserInfo" type="tns:UserInfo" />
                    </sequence>
                </complexType>
            </element>
        </schema>
    </types>
    <message name="GetDataRequest">
        <part name="parameters" element="tns:GetData" />
    </message>
    <message name="GetDataResponse">
        <part name="parameters" element="tns:GetDataResponse" />
    </message>
    <portType name="MyServicePortType">
        <operation name="GetData">
            <input message="tns:GetDataRequest" />
            <output message="tns:GetDataResponse" />
        </operation>
    </portType>
    <binding name="MyServiceBinding" type="tns:MyServicePortType">
        <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document"
            transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="GetData">
            <soap:operation soapAction="http://example.com/soap/GetData" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>
    <service name="MyService">
        <port name="MyServicePort" binding="tns:MyServiceBinding">
            <soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                location="http://localhost:5555/soap" />
        </port>
    </service>
</definitions>


